<div class=containerResultado>

    <div class="right">
        <img src="https://avatars.githubusercontent.com/u/17340839?v=4"><br>
        <button>Ver Perfil</button>
    </div>

    <div class="collumn">
        <div class="row">
            <div class="card">Repositórios: 13</div>
            <div class="card">Seguidores: 156 </div>
            <div class="card">Seguindo: 4 </div>
        </div>

        <div class="collumn">
            <h3 class="cardI">Informações</h3>
            <p class="cardI">Empresa: </p>
            <p class="cardI">WebSite/Blog: </p>
            <p class="cardI">Localidade: </p>
            <p class="cardI">Membro desde: </p>

        </div>
    </div>
</div>